
createEnvironmentVariables.bat
wetter.zip
createEnvironmentVariables.sh
wetter/__MACOSX/._Werfenweng_MetGIS_Precipitation_hourly_20200901-20201101.json
wetter/__MACOSX/._Werfenweng_MetGIS_Precipitation_hourly_20211201-20220301.json
wetter/__MACOSX/._Werfenweng_MetGIS_RelHumidity_hourly_20200901-20201101.json
wetter/__MACOSX/._Werfenweng_MetGIS_RelHumidity_hourly_20211201-20220301.json
wetter/__MACOSX/._Werfenweng_MetGIS_Temperature_hourly_20200901-20201101.json
wetter/__MACOSX/._Werfenweng_MetGIS_Temperature_hourly_20211201-20220301.json
wetter/__MACOSX/._Werfenweng_MetGIS_Wind_hourly_20200901-20201101.json
wetter/__MACOSX/._Werfenweng_MetGIS_Wind_hourly_20211201-20220301.json
wetter/Werfenweng_MetGIS_Precipitation_hourly_20200901-20201101.json
wetter/Werfenweng_MetGIS_Precipitation_hourly_20211201-20220301.json
wetter/Werfenweng_MetGIS_RelHumidity_hourly_20200901-20201101.json
wetter/Werfenweng_MetGIS_RelHumidity_hourly_20211201-20220301.json
wetter/Werfenweng_MetGIS_Temperature_hourly_20200901-20201101.json
wetter/Werfenweng_MetGIS_Temperature_hourly_20211201-20220301.json
wetter/Werfenweng_MetGIS_Wind_hourly_20200901-20201101.json
wetter/Werfenweng_MetGIS_Wind_hourly_20211201-20220301.json
